#galeria > div {
float:left;
width: 20%;
padding: 10px;
box-sizing: border-box;
}
.foto img{
  width: 100%;
  display: block;
  object-fit: cover;
}
.detalhes{display: none}
#galeria .foto:target{
  position: relative;
  width: 50%;
  top: 15px;
  left: 25%;
  padding: 5px;
  border: solid 1px #333;
  background: #fff;
}
.foto:target .detalhes{
  display: block;
}
.element {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

.element::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.element::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

.element::-webkit-scrollbar-thumb {
  background-color: #000;
}
