#galeria > div{
    float:left;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.foto img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.detalhes{display:none}
#galeria .foto:target{
    position:relative;
    width: 50%;
    top:15px;
    left:25%;
    padding: 10px;
    border: solid 1px #333;
}
.foto:target .detalhes{
    display: block;
}
.relato{
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.p{
  margin-bottom: 15px;
}
